.submit-btn {
    background-color: #004ba0;
    color: white;
}

.date-picker {
    width: 120px;
}

.amount {
    width: 100px;
}

.reimburseable-div {
    padding-top: 18px;
}

form {
    margin-bottom: 10px;
}

.over-75 {
    color: #004ba0;
    font-size: 0.9em;
    margin-bottom: 10px;
}