.submit-btn {
    background-color: #004ba0;
    color: white;
}

.date-picker {
    width: 120px;
}

.tolls,
.mileage-rate,
.total-mileage,
.amount {
    width: 140px;
}


.from-location,
.to-location {
    width: 150px;
}

.round-trip-div,
.reimburseable-div {
    padding-top: 18px;
}

form {
    margin-bottom: 10px;
}

.over-75 {
    color: #004ba0;
    font-size: 0.9em;
    margin-bottom: 10px;
}