<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(f)" #f="ngForm">   
  <div fxLayout="column" *ngIf="monthlyTimecard$ | async as monthlyTimecard">
    <div fxLayout="row" >
      <!-- activities -->
      <div *ngFor="let activity of monthlyTimecard.activities" >

        <!-- charge code drop down -->
        <mat-form-field class="charge-code-picker">
          <mat-label>ChargeCode</mat-label>
          <mat-select [(value)]="chargeCode"> <!--formControlName='name'-->
            <mat-option *ngFor="let chargeCode of chargeCodes">{{chargeCode}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field style="width: 40px">
          <input matInput placeholder="" formControlName="d1" value="d1">
        </mat-form-field>     -->
    
      </div>
      <button mat-raised-button class="submit-btn" (click)="addActivity()" type="button">Add Timecard Activity</button>
      
      
    </div>
    <mat-form-field style="width: 100%">
      <textarea matInput placeholder="Notes" formControlName="note"></textarea>
    </mat-form-field>
  </div>
    <button mat-raised-button class="submit-btn" type="submit">Submit</button>
</form>
  

