<div *ngFor="let user of users">
  <mat-card>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-content>
      <div>{{user.email}}</div>
      <!-- <mat-form-field>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New fruit..."
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>   -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="delete-btn" (click)="deleteUser(user.displayName)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-create-user (userCreated)="refreshUserList()"></app-create-user>
