.add-btn,
.submit-btn {
    margin: 14px 6px;
    background-color: #004ba0;
    color: white;
}

.status {
    margin-left: 6px;
    width: 100px;
}

.total-hours {
    margin-left: 4px;
}

.hours-available {
    margin-left: 10px;
}