<div *ngIf="loading; else show_form">
  <mat-card>
    Loading timecard data...
  </mat-card>
</div>

<ng-template #show_form>

  <form [formGroup]="timecardForm">
    <mat-card>
      <div formArrayName="activities" fxLayout="column">
        <div class="activity-container">
          <div fxLayout="row" class="activity-title">
            <span class="picker-title">Day:</span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(1)}}</span><span>1</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(2)}}</span><span>2</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(3)}}</span><span>3</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(4)}}</span><span>4</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(5)}}</span><span>5</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(6)}}</span><span>6</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(7)}}</span><span>7</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(8)}}</span><span>8</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(9)}}</span><span>9</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(10)}}</span><span>10</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(11)}}</span><span>11</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(12)}}</span><span>12</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(13)}}</span><span>13</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(14)}}</span><span>14</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(15)}}</span><span>15</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(16)}}</span><span>16</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(17)}}</span><span>17</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(18)}}</span><span>18</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(19)}}</span><span>19</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(20)}}</span><span>20</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(21)}}</span><span>21</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(22)}}</span><span>22</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(23)}}</span><span>23</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(24)}}</span><span>24</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(25)}}</span><span>25</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(26)}}</span><span>26</span></span>
            <span class="hours-title" fxLayout="column"><span>{{getDay(27)}}</span><span>27</span></span>
            <span class="hours-title" fxLayout="column" *ngIf="daysInMonth>=28"><span>{{getDay(28)}}</span><span>28</span></span>
            <span class="hours-title" fxLayout="column" *ngIf="daysInMonth>=29"><span>{{getDay(29)}}</span><span>29</span></span>
            <span class="hours-title" fxLayout="column" *ngIf="daysInMonth>=30"><span>{{getDay(30)}}</span><span>30</span></span>
            <span class="hours-title" fxLayout="column" *ngIf="daysInMonth>=31"><span>{{getDay(31)}}</span><span>31</span></span>
            <span class="hours-title">Total</span>

            <!-- TODO: delete extra days in short months-->
          </div>
          <div *ngFor="let activity of timecardForm.get('activities').controls; let activityIndex = index"
            [formGroupName]="activityIndex" class="activity">


            <mat-form-field class="charge-code-picker" appearance="outline">
              <mat-label>ChargeCode</mat-label>
              <mat-select formControlName="chargeCode">
                <mat-option *ngFor="let chargeCode of chargeCodes$ | async" [value]="chargeCode">{{chargeCode}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <input type="number" formControlName="d01" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(1) }" [autofocus]="shouldFocus(1, activityIndex)">
            <input type="number" formControlName="d02" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(2) }" [autofocus]="shouldFocus(2, activityIndex)">
            <input type="number" formControlName="d03" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(3) }" [autofocus]="shouldFocus(3, activityIndex)">
            <input type="number" formControlName="d04" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(4) }" [autofocus]="shouldFocus(4, activityIndex)">
            <input type="number" formControlName="d05" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(5) }" [autofocus]="shouldFocus(5, activityIndex)">
            <input type="number" formControlName="d06" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(6) }" [autofocus]="shouldFocus(6, activityIndex)">
            <input type="number" formControlName="d07" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(7) }" [autofocus]="shouldFocus(7, activityIndex)">
            <input type="number" formControlName="d08" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(8) }" [autofocus]="shouldFocus(8, activityIndex)">
            <input type="number" formControlName="d09" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(9) }" [autofocus]="shouldFocus(9, activityIndex)">
            <input type="number" formControlName="d10" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(10) }" [autofocus]="shouldFocus(10, activityIndex)">
            <input type="number" formControlName="d11" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(11) }" [autofocus]="shouldFocus(11, activityIndex)">
            <input type="number" formControlName="d12" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(12) }" [autofocus]="shouldFocus(12, activityIndex)">
            <input type="number" formControlName="d13" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(13) }" [autofocus]="shouldFocus(13, activityIndex)">
            <input type="number" formControlName="d14" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(14) }" [autofocus]="shouldFocus(14, activityIndex)">
            <input type="number" formControlName="d15" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(15) }" [autofocus]="shouldFocus(15, activityIndex)">
            <input type="number" formControlName="d16" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(16) }" [autofocus]="shouldFocus(16, activityIndex)">
            <input type="number" formControlName="d17" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(17) }" [autofocus]="shouldFocus(17, activityIndex)">
            <input type="number" formControlName="d18" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(18) }" [autofocus]="shouldFocus(18, activityIndex)">
            <input type="number" formControlName="d19" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(19) }" [autofocus]="shouldFocus(19, activityIndex)">
            <input type="number" formControlName="d20" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(20) }" [autofocus]="shouldFocus(20, activityIndex)">
            <input type="number" formControlName="d21" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(21) }" [autofocus]="shouldFocus(21, activityIndex)">
            <input type="number" formControlName="d22" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(22) }" [autofocus]="shouldFocus(22, activityIndex)">
            <input type="number" formControlName="d23" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(23) }" [autofocus]="shouldFocus(23, activityIndex)">
            <input type="number" formControlName="d24" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(24) }" [autofocus]="shouldFocus(24, activityIndex)">
            <input type="number" formControlName="d25" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(25) }" [autofocus]="shouldFocus(25, activityIndex)">
            <input type="number" formControlName="d26" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(26) }" [autofocus]="shouldFocus(26, activityIndex)">
            <input type="number" formControlName="d27" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(27) }" [autofocus]="shouldFocus(27, activityIndex)">
            <input type="number" formControlName="d28" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(28) }"
              *ngIf="daysInMonth>=28" [autofocus]="shouldFocus(28, activityIndex)">
            <input type="number" formControlName="d29" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(29) }"
              *ngIf="daysInMonth>=29" [autofocus]="shouldFocus(29, activityIndex)">
            <input type="number" formControlName="d30" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(30) }"
              *ngIf="daysInMonth>=30"  [autofocus]="shouldFocus(30, activityIndex)">
            <input type="number" formControlName="d31" [ngClass]="{'hours-input': true, 'weekend' : isWeekend(31) }"
              *ngIf="daysInMonth>=31" [autofocus]="shouldFocus(31, activityIndex)">

            <span class="total-hours">{{totalHoursForActivity(activityIndex)}}</span>

            <button mat-icon-button color="warn" type="button" (click)="removeActivity(activityIndex)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <!-- sum for each day -->
          <div>
            <div fxLayout="row" class="activity-title">
              <span class="total-title">Total hours for Day:</span>
              <span class="hours-title">{{getHours('d01')}}</span>
              <span class="hours-title">{{getHours('d02')}}</span>
              <span class="hours-title">{{getHours('d03')}}</span>
              <span class="hours-title">{{getHours('d04')}}</span>
              <span class="hours-title">{{getHours('d05')}}</span>
              <span class="hours-title">{{getHours('d06')}}</span>
              <span class="hours-title">{{getHours('d07')}}</span>
              <span class="hours-title">{{getHours('d08')}}</span>
              <span class="hours-title">{{getHours('d09')}}</span>
              <span class="hours-title">{{getHours('d10')}}</span>
              <span class="hours-title">{{getHours('d11')}}</span>
              <span class="hours-title">{{getHours('d12')}}</span>
              <span class="hours-title">{{getHours('d13')}}</span>
              <span class="hours-title">{{getHours('d14')}}</span>
              <span class="hours-title">{{getHours('d15')}}</span>
              <span class="hours-title">{{getHours('d16')}}</span>
              <span class="hours-title">{{getHours('d17')}}</span>
              <span class="hours-title">{{getHours('d18')}}</span>
              <span class="hours-title">{{getHours('d19')}}</span>
              <span class="hours-title">{{getHours('d20')}}</span>
              <span class="hours-title">{{getHours('d21')}}</span>
              <span class="hours-title">{{getHours('d22')}}</span>
              <span class="hours-title">{{getHours('d23')}}</span>
              <span class="hours-title">{{getHours('d24')}}</span>
              <span class="hours-title">{{getHours('d25')}}</span>
              <span class="hours-title">{{getHours('d26')}}</span>
              <span class="hours-title">{{getHours('d27')}}</span>
              <span class="hours-title" *ngIf="daysInMonth>=28">{{getHours('d28')}}</span>
              <span class="hours-title" *ngIf="daysInMonth>=29">{{getHours('d29')}}</span>
              <span class="hours-title" *ngIf="daysInMonth>=30">{{getHours('d30')}}</span>
              <span class="hours-title" *ngIf="daysInMonth>=31">{{getHours('d31')}}</span>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button class="add-btn" (click)="addActivity()" type="button">Add Timecard Activity</button>

    </mat-card>
    <mat-card>

      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="Notes" formControlName="note"></textarea>
      </mat-form-field>

    </mat-card>
  </form>

</ng-template>