.mat-card {
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #db4437;
    color: white;
}

.paid-btn {
    background-color: green;
    color: white;
    margin-right: 3px;
}

table { 
    margin-top: 10px;
    width: 100%;
}

.mat-cell {
    padding-left: 2px;
    padding-right: 2px;
}

.filters-container {
    text-align: center;
}