.time-period-picker-card {
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

mat-divider {
    padding: 0px 4px;
}

.approve-card {
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.save-card {
    margin-bottom: 10px;
}