<div>
  <mat-card *ngIf="isAdminMode()" class="approve-card">
    <app-approve-timecard
      [currentUser]="currentUser"
      (requestToApproveTimecard)="requestToApproveTimecard($event)"
      (requestToSaveTimecard)="requestToSaveTimecard($event)"
      (requestToLoadTimecardForUser)="requestToLoadTimecardForUser($event)">
    </app-approve-timecard>
  </mat-card>
  
  <div fxLayout="row wrap" *ngIf="currentTimePeriod$ | async as currentTimePeriod">

    <mat-card class="time-period-picker-card" >
      <app-time-period-picker [currentTimePeriod]="currentTimePeriod"
        (requestToLoadTimecard)="requestToLoadTimecard($event)"></app-time-period-picker>
    </mat-card>

    <mat-card fxFlex fxLayout="row" class="save-card">
      <app-save-timecard (requestToSaveTimecard)="requestToSaveTimecard($event)" [status]="getStatus()" [totalHoursLessThanAvailableHours]="totalHoursLessThanAvailableHours()">
      </app-save-timecard>

      <mat-divider [vertical]="true"></mat-divider>

      <app-timecard-stats [currentTimePeriod]="currentTimePeriod" [totalHoursAllActivities]="totalHoursAllActivities()"
        [totalAvailableHoursInMonth]="totalAvailableHoursInMonth()" [status]="getStatus()">
      </app-timecard-stats>

      <mat-divider [vertical]="true"></mat-divider>

      <app-pto  [status]="getStatus()" [viewingTimecardForUser]="viewingTimecardForUser" [currentTimePeriod]="currentTimePeriod"></app-pto>

      

      

    </mat-card>
  </div>

  <app-monthly-timecard></app-monthly-timecard>

</div>
<!---*ngIf="currentTimePeriod$ | async as currentTimePeriod" -->