<mat-toolbar color="#004ba0">
  
  <div fxFlex fxLayout="row">
    <button mat-raised-button routerLink="/timecard">Timecard</button>

    <button mat-raised-button routerLink="/users"       *ngIf="isAdmin">Users</button>
    <button mat-raised-button routerLink="/chargeCodes" *ngIf="isAdmin">Charge Codes</button>
    
    TODO:
    <button mat-raised-button routerLink="/chargeCodes" *ngIf="isAdmin">Rates</button>
    <button mat-raised-button routerLink="/approveTimecards" *ngIf="isAdmin">Approve Timecard</button>
    <button mat-raised-button routerLink="/approveExpenseReports" *ngIf="isAdmin">Approve Expense Reports</button>

  </div>
</mat-toolbar>
