<div fxLayout="row">

  <mat-form-field class="pto-input-balance" appearance="outline">
    <mat-label>Balance</mat-label>
    <input matInput placeholder="Balance" [(ngModel)]="balance">
    
    <mat-hint>Was {{oldBalance}} + {{18.33 * percentEmployed | number : '1.2-2' }} - {{totalHoursPTO}} = {{calculatePto()}}</mat-hint>
    
  </mat-form-field>
  
  <mat-form-field class="pto-input" appearance="outline">
    <mat-label>As Of</mat-label>
    <input matInput placeholder="As Of" [(ngModel)]="asOf">
    <mat-hint>Was: {{oldAsOf}}</mat-hint>
  </mat-form-field>

  <button mat-raised-button class="submit-btn" (click)="populateBalanceAndAsOf()">Populate Values</button>
  <button mat-raised-button class="submit-btn" (click)="approveTimecard()" [disabled]="balance.length < 1 || asOf.length < 2">Approve</button>
  <button mat-raised-button class="submit-btn" (click)="rejectTimecard()">Reject</button>

  <mat-form-field  appearance="outline" class="pick-user">
    <mat-label>Users</mat-label>
    <mat-select (selectionChange)="loadTimecardFor($event)" [(compareWith)]="compareObjects" [(ngModel)]="currentUser">
      <mat-option *ngFor="let user of users$ | async" [value]="user">{{user.displayName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="submit-btn" (click)="viewNextUser()">Next</button>

  <mat-form-field class="pto-input-new-as-of" appearance="outline">
    <mat-label>New As Of</mat-label>
    <input matInput placeholder="New As Of Date" [(ngModel)]="newAsOf">
  </mat-form-field>

  
</div>

