<div fxLayout="row">

  <div fxLayout="column">
    <mat-form-field class="pto-input" appearance="outline">
      <mat-label>Balance</mat-label>
      <input matInput placeholder="Balance" [(ngModel)]="balance">
    </mat-form-field>
    
    <mat-form-field class="pto-input" appearance="outline">
      <mat-label>As Of</mat-label>
      <input matInput placeholder="As Of" [(ngModel)]="asOf">
    </mat-form-field>
  </div>

  <mat-form-field  appearance="outline">
    <mat-label>Users</mat-label>
    <mat-select (selectionChange)="loadTimecardFor($event)">
      <mat-option *ngFor="let user of users$ | async" [value]="user">{{user.displayName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="submit-btn" (click)="approveTimecard()" [disabled]="balance.length < 1 || asOf.length < 2">Approve</button>
  
</div>

