.submit-btn {
    margin: 2px 10px 24px 10px;
    background-color: #004ba0;
    color: white;
}

.pto-input-new-as-of,
.pto-input {
    width: 160px;
    padding-right: 8px;
    padding-left: 8px;
}

.pto-input-balance {
    width: 200px;
}

.pick-user {
    margin-left: 10px;
}