<h1 mat-dialog-title>Timecard Policies and FAQ</h1>
<div mat-dialog-content>
  <p>
    The policies below are intended to provide:
  </p>
  <ul>
    <li>a set of basic rules to keep M1 compliant with DCAA requirements,</li>
    <li>the ability for staff to flex their PTO throughout the year,</li>
    <li>flexibility for staff to decide to choose if they prefer more PTO or more cash compensation, and</li>
    <li>transparency in the bonus calculation process.</li>
  </ul>
  <h3>Timecard Basics</h3>
  <p>
    M1 keeps timecards and payroll are processed in month-long periods, and each timecard is subject to the following
    rules:
  </p>
  <ul>
    <li>Staff are required to enter hours worked <b>daily</b> in <b>quarter hour</b> increments.</li>
    <li>Staff should submit timecards on the last day of the month so that payroll can be processed. Staff must enter at
      least the minimum number of hours for the month (8 hours/day times the number of business days) using a
      combination of all available charge codes.</li>
    <li>Admin time should be limited to a few hours per year per employee, and is intended for activities such as
      contract onboarding, mandatory training, etc. Admin hours are not intended to be used for
      recruiting.</li>
  </ul>

  <h3>What is the maximum amount of PTO I can use before using LWOP?</h3>
  <p>
    Staff can carry a PTO balance as low as -40 hours before they will be required to use Leave Without Pay (LWOP). The
    -40 hours is meant to give staff flexibility, but anything more negative than this severely restricts cash flow.
    Exceptions can be made for extreme circumstances.
  </p>

  <h3>What are the LWOP rates?</h3>
  <p>
    Leave without pay (LWOP) and PTO buy-back/sell-back (see below) have the same rates. The rate is calculated as your
    (salary + target bonus) / 1860.
  </p>

  <h3>How are bonuses calculated?</h3>
  <p>
    Some staff have a target bonus each year, which was originally based on staff working 1,860 billable hours between 1
    January and 31 December. This mechanism of tracking was confusing because 1,860 hours was typically associated with
    a contract option year and not a calendar year. To ease this calculation, M1 staff who contribute positively to the
    company can expect their full bonus each year. Employees who work take more PTO than expected can now use the PTO
    Sell-Back program (discussed below) to exchange their expected bonus for more PTO.
  </p>
  <p>
    The only exception to the above is for staff that work a <u>significant</u> number of non-billable hours (e.g. admin
    hours, proposal hours, etc.), which may affect the bonus calculation. Staff that only work a few non-billable hours
    occasionally will be treated according to the rules above.
  </p>
  <p>
    Bonuses are paid on 15 March for hours worked the previous year. Bonuses are prorated by start date for new hires.
  </p>
  <h3>Flexing PTO throughout the year with "Negative PTO"</h3>
  <p>
    To provide maximum flexibility, staff members who work extra billable hours in a month can enter "negative PTO"
    hours into their timecard. Entering "Negative PTO" hours will ADD that number of hours to your PTO total. This will
    allow staff to effectively flex their PTO throughout the year.
  </p>
  <p>
    <i>Example:</i> There are 160 hours in a particular month. The staff member works 163 billable hours, so the staff member can enter -3 hours of PTO in the
    timecard. Rather than accruing the normal 18.33 hours of PTO that month, the staff member will earn 18.33 + 3 =
    14.66 hours of PTO this month. This extra PTO can either be used in an upcoming month or sold-back as described
    below.
  </p>
  <p>
    For purposes of Negative PTO calculations, only Billable hours count towards the total hours in the
    month. Non-billable hours used in the month (e.g. Proposal, etc.) do not count towards the total hours required for
    the month.
  </p>
  <p>
    <i>Some contracts (i.e. Daggett) have special time keeping requirements and therefore staff on those programs are
      not eligible to use negative PTO. If you are on a special program, you'll be given a separate set of contract
      specific time keeping requirements.</i>
  </p>
  <h3>What is the PTO Buy-Back / Sell-Back?</h3>
  <p>
    Some staff members prefer to work more hours and receive a larger bonus, while other staff prefer to take more PTO
    and receive a smaller bonus. To support all of these combinations, staff can "buy-back" or "sell-back" PTO hours.
    Buy-Back/Sell-Back elections must be made during the first two weeks of January so that bonuses can be prepared
    accordingly.
  </p>
  <p>
    Staff may not sell-back more PTO hours than they have (e.g. if you have 20 hours of PTO, the maximum amount of PTO
    that you can sell-back is 20 hours).
  </p>
  <p>
    Staff members that do not have a target bonus are not eligible to participate in the PTO Buy-Back program, but talk
    to your timecard approver if you would like to convert a small amount of salary to bonus so that you are eligible to do so.
  </p>
  <p>
    <i>PTO Sell-Back example:</i> A staff member has a salary of $98k and expects a $2k bonus for the year. The staff
    member worked 10 additional billable hours in June, which normally has 160 hours. The time was recorded as 170
    billable hours and -10 PTO hours, which gave the staff member 10 more hours of PTO than they were planning to use
    for the year. In January, the staff member decides that they do not need these PTO hours and would prefer cash
    compensation instead. So, the staff member sell-back those 10 hours to the company at a rate of 10*($98k + $2k)/1860
    = $537.63. The staff member's March 15th bonus will then be $2k + $537.63 = $2,537.63.
  </p>
  <p>
    <i>PTO Buy-Back example:</i> A staff member has a salary of $98k and expects a $2k bonus for the year. The staff
    member unexpectedly wins luxury 2-week vacation that they can't pass up. The staff member had some vacation saved
    up, but the vacation leaves them with a PTO balance of -10 hours. The staff member anticipates needing all of their
    PTO for the next year, so the staff member "buys-back" their PTO in January at the same rate as above. The staff
    member's March 15th bonus will then be $2k - $537.63 = $1,462.37. Staff should remember that their contracts may
    limit their ability to work more than 1,860 hours in a year, so please work with your contract PM to navigate the
    process of adding hours to your contract.
  </p>

  <h3>What is the maximum amount of LWOP that I can use?</h3>
  <p>
    Staff can use up to 60 hours (1.5 weeks) of LWOP each calendar year. LWOP can be used to take additional vacation
    hours above the 5.5 weeks offered by the company.
  </p>
  <p>
    Please keep in mind that many of us have contract years that require us to work 1860 hours. Please work with your
    clients/primes to ensure that your LWOP is not negatively affecting your work or your contract. M1 has great short
    and long term disability benefits that can be used if needed.
  </p>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickClose()">Close</button>
</div>