.save-btn {
    background-color: #004ba0;
    color: white;
}

.delete-btn {
    background-color: #db4437;
    color: white;
}

.mat-card {
    margin-bottom: 10px;
}

.mat-form-field {
    width: 100%;
    margin-top: 6px;
}
