<mat-card>
  <mat-card-title>{{user.displayName}}</mat-card-title>
  <mat-card-content>
    <div>{{user.email}}</div>
  
    <form [formGroup]="availableChargeCodeNamesFormGroup">
      <div *ngFor="let chargeCodeName of availableChargeCodeNames; let i = index" >
          <mat-checkbox class="example-margin" 
                  (change)="onChange($event)" 
                  [checked]="availableChargeCodeNamesFormGroup.get('chargeCodes').value.indexOf(chargeCodeName) > -1" 
                  [value]="chargeCodeName">
              {{chargeCodeName}}
          </mat-checkbox>
      </div>
    </form>

    
    <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Reviewer</mat-label>
      <mat-select [(value)]="reviewerUserKey">
        <mat-option value="davidnewton">David Newton</mat-option>
        <mat-option value="joe">Joe Frankiewicz</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="save-btn" (click)="saveUser()">Save</button>
    <button mat-raised-button class="delete-btn" (click)="deleteUser()">Delete</button>
  </mat-card-actions>
</mat-card>