.month-picker {
    width: 150px;
    margin: 6px;
}

.year-picker {
    width: 70px;
    margin: 6px;
}

.load-btn {
    margin: 0px 6px;
    background-color: #004ba0;
    color: white;
}

mat-card {
    margin-top: 10px;
}