<!-- Header -->
<mat-toolbar color="#004ba0">
  <div class="logo">
    <img src="../../../../assets/img/m1-timecard.png" style="height: 50px;">
  </div>
  <!-- Menu -->
  <span class="spacer"></span>

  <!--JJF: button not showing proper status-->



  <div *ngIf="authService.isAuthenticated()" fxLayout="row">
    <mat-slide-toggle *ngIf="isReviewer()" class="toggle" (change)="reviewerToggleChange($event)">
      Reviewer Mode
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="isAdmin()" class="toggle" (change)="adminToggleChange($event)">
      Admin Mode
    </mat-slide-toggle>
    <span class="welcome" fxHide.lt-md="">Welcome, {{userName()}}</span>
    <button type="button" routerLink="/login" mat-icon-button (click)="onLogout()" matTooltip="Log Out">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

</mat-toolbar>