// Header
:host {
  z-index: 99; //allow the header to be above the secondary admin bar so that the animation looks nice;
}
#content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

span a, span a:hover {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

mat-icon {
  margin-right: 0px!important;
}

.menu-link a, .menu-link a:hover {
  font-size: 14px;
  text-decoration: none;
  color:rgba(255,255,255,.87);
  margin: 0 10px;
}

a, a:hover { 
  text-decoration: none;
  color:rgba(0,0,0,.87);
}

.mat-icon {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

.login, .logout, .profile, .messages, .settings, .home, .about, .contact, .misc, .signup{
  color: #333;
} 

// Sidenav
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 180px;
  z-index: 100;
}

.menu-link button, .menu-link a:hover {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  padding: 0 16px;
  text-decoration: none;
  text-align: left;
}

span {
  margin-left: 15px;
}

mat-toolbar {
  background-color: #004ba0;
}

button {
  background-color: #01aeef !important;
}

.welcome {
  color: white;
  font-size: 14px;
  margin-right: 14px;
}

.toggle {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 4px;
}

.logo {
  height: 50px;
  animation: bounceInDown 1s, expandWidth .2s 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
      opacity: 1;
      transform: translateY(30px);
  }
  80% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

 @keyframes expandWidth {
  0% {
    width: 40px;
    overflow-x: hidden;
  }
  100% {
    width: 175px;
    overflow-x: hidden;
  }
}