

<!-- Header -->
<mat-toolbar color="#004ba0">
  <img src="../../../../assets/img/m1-timecard.png" style="height: 50px;">

  <!-- Menu -->
  <span class="spacer"></span>

  <!--JJF: button not showing proper status-->
  <div fxFlex *ngIf="authService.isAuthenticated()" fxLayout="row">
    <span class="welcome">Welcome, {{userName()}}</span>
    <button type="button" routerLink="/login" mat-icon-button (click)="onLogout()">  
      <mat-icon>lock_open</mat-icon>
    </button>
  </div>

</mat-toolbar>
